.__font-family {
    font-family: 'Merriweather', serif;
}

/* reset margin on p tags */
p {
    margin-bottom: 0px;
}

body {
    background: #79818f;
}

@mixin lineargradient($top-color, $bottom-color) {
        background:$top-color;
        background: -webkit-linear-gradient($top-color, $bottom-color); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient($top-color, $bottom-color); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient($top-color, $bottom-color); /* For Firefox 3.6 to 15 */
        background: linear-gradient($top-color, $bottom-color);
}

.btn-custom {
    margin-top:150px;
    width:100%;
    padding:15px;
    border-radius:0;
    background:transparent;
    font-size:18px;
    color: #FFF;
    border: 2px solid #FFF;
    &:hover {
        border: 2px solid #FFF;
        color: #000;
        background: #FFF;
    }
}

.main-container {
    padding: 75px 125px 75px 125px;
    @media screen and (max-width:1024px) {
        padding:20px;
    }
}

.main-container
.main__title-section {
    .main--title {
        @extend .__font-family;
        font-size: 60px;
        color: #FFF;
        font-style: italic;

    }
    .main--subtitle {
        color:#8fffee;
        width:360px;
    }
    @media screen and (max-width:1024px) {
        text-align:center;
        .main--subtitle {
            margin:auto;
            width:100%;
        }
    }
}

.__input-general {
    width:100%;
    margin-top:10px;
    padding:15px;
    background:#9ba1ab;
    border:3px solid #fff;
    font-size:12px;
    &::-webkit-input-placeholder {
        color:#d2d4d8;
    }
    &:-moz-placeholder {
        color:#d2d4d8;
    }
    &::-moz-placeholder {
        color:#d2d4d8;
    }
    &:-ms-input-placeholder {
        color:#d2d4d8;
    }
}

.main-container
.main__form-area {
    padding-left:0px;
    @media screen and (max-width: 768px) {
        padding:0px;
    }
    .custom-form-group {
        color:#d2d4d8;
        @extend .__input-general;
    }

    .dropdown-custom {
        margin-top:30px;
    }

    .dropdown-custom
    .custom-select {
        border-radius:0px;
        padding:15px;
        color:#d2d4d8;
        background:#9ba1ab;
        border:3px solid #fff;
        font-size:12px;
        width:100%;
        text-align:left;
    } 

    .dropdown-custom
    .dropdown-menu {
        width:100%;
        border-radius:0px;
        padding-top:10px;
        padding-bottom:10px;
        padding-right:0px;
        padding-left:0px;

        .option {
            margin:10px;
            padding:10px;
            &:hover {
                cursor:pointer;
                background: #f3f3f3;
            }
        }
    }

    .dropdown-custom
    .caret {
        margin-top:8px;
        color: #fff;
        font-size:20px;
        border-width: 6px 6px 10px 6px;
    }
}

.main-container
.section__label-section {
    margin-top:50px;
    .section-label {
        @include lineargradient(#c0c9d4, #8391a4);
        padding:10px 0 10px 0;
        text-align:center;
        font-size:20px;
        color:#FFF;
    }
}

.main-container
.column-section {
    padding: 0px 5px;
    margin-top:10px;
    background:#FFF;
    height:500px;
    .head-section {
        margin-top:5px;
    }
    .head-section
    .title {
        font-size:16px;
        letter-spacing: 0.5px;
        color:#FFF;
        padding:10px;
        @include lineargradient(#b5c5d8,#4d596d);
        text-align:center;
    }

    .column-general {
        padding:15px;
        font-size:16px;
    }

    .column-item {
        background:#f2f3f4;
        color:#79818f;
        @extend .column-general;
    }

    .column-item-alt {
        background:#bcc0c7;
        color:#FFF;
        @extend .column-general;
    }

    .glyph-general {
        cursor:pointer;
        border-radius:5px;
        float:right;
        padding:2px;
    }

    .column-item
    .glyph-custom {
        @extend .glyph-general;
        border:1px solid #7c8391;
        color:#7c8391;
    }

    .column-item-alt
    .glyph-custom-alt {
        @extend .glyph-general;
        border:1px solid #FFF;
        color:#FFF;
    }

}

.main-container
.content-section {
    margin-top: 10px;
    padding:0px;
}

